<%= form_for(setup_addressable(@business)) do |f| %>
  <%= f.formatted_error_messages %>
	<div class="pane">
  		<div class="field required">
		  <%= f.label :name %><br />
		  <%= f.text_field :name %>
		</div>
		<div class="field">
		  <%= f.label :website %><br />
		  <%= f.text_field :website %>
		</div>
		<div class="field inrow required">
		  <%= f.label :telephone %><br />
		  <%= f.text_field :telephone %>
		</div>
		<div class="field">
		  <%= f.label :fax %><br />
		  <%= f.text_field :fax %>
		</div>
		<div class="field">
		  <%= f.label :email %><br />
		  <%= f.text_field :email %>
		</div>
		<div class="field">
		  <%= f.label :notes %><br />
		  <%= f.text_area :notes, :rows => 0, :cols => 0 %>
		</div>
		
		<div class="clear"></div>
		<div class="actions">
		  <%= f.submit %>
		</div>
	</div>
	<div class="pane">
		<%= render 'addresses/form', :f => f, :addressable => @business %>
	</div>
<% end %>